/*
/.husky
/.jhipster
/.mvn
/target
/webpack

!/.gitignore
!/angular.json
!/package.json
!/tsconfig.json

!commands.txt
!jdlTodo.jh
!jdlEntidades.jh
!basic-data.sql
!h2_datos.sql
!mariadb_datos.sql
!gescon.jar

!/src/
/src/*
!/src/main/
/src/main/*
!/src/main/java/
/src/main/java/*
!/src/main/java/com/
/src/main/java/com/*
!/src/main/java/com/creinfor/
/src/main/java/com/creinfor/*
!/src/main/java/com/creinfor/domain/
/src/main/java/com/creinfor/domain/*
!/src/main/java/com/creinfor/domain/ext/
/src/main/java/com/creinfor/domain/ext/*
!/src/main/java/com/creinfor/domain/ext/LongStringPair.java
!/src/main/java/com/creinfor/repository/
/src/main/java/com/creinfor/repository/*
!/src/main/java/com/creinfor/repository/ExtraProgramacionRepository.java
!/src/main/java/com/creinfor/service/
/src/main/java/com/creinfor/service/*
!/src/main/java/com/creinfor/service/ext/
/src/main/java/com/creinfor/service/ext/*
!/src/main/java/com/creinfor/service/ext/ExtraTransactionsService.java
!/src/main/java/com/creinfor/web/
/src/main/java/com/creinfor/web/*
!/src/main/java/com/creinfor/web/rest/
/src/main/java/com/creinfor/web/rest/*
!/src/main/java/com/creinfor/web/rest/ExtraTransactionsResource.java
!/src/main/java/com/creinfor/web/rest/ext/
/src/main/java/com/creinfor/web/rest/ext/*
!/src/main/java/com/creinfor/web/rest/ext/DniResponse.java
!/src/main/java/com/creinfor/web/rest/ext/LongStringPair.java

!/src/main/resources/
/src/main/resources/*
!/src/main/resources/config/
/src/main/resources/config/*

!/src/main/webapp/
/src/main/webapp/*
!/src/main/webapp/manifest.webapp
!/src/main/webapp/app/
/src/main/webapp/app/*
!/src/main/webapp/app/app-routing.module.ts
!/src/main/webapp/app/content/images/*

!/src/main/webapp/app/comps
!src/main/webapp/app/core/
/src/main/webapp/app/core/*
!/src/main/webapp/app/core/service
!/src/main/webapp/app/pages
!/src/main/webapp/app/home/
/src/main/webapp/app/home/*
!/src/main/webapp/app/home/home.component.html
!/src/main/webapp/app/home/home.component.scss
!/src/main/webapp/app/layouts/
/src/main/webapp/app/layouts/*
!/src/main/webapp/app/layouts/navbar/
/src/main/webapp/app/layouts/navbar/*
!/src/main/webapp/app/layouts/navbar/navbar.component.html
!/src/main/webapp/app/layouts/navbar/navbar.component.scss
!/src/main/webapp/app/layouts/footer/footer.component.html

!/src/main/webapp/i18n/
/src/main/webapp/i18n/*
!/src/main/webapp/i18n/es/